table {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #FEBD10;
  background-color: #848484 !important;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table td, table th {
  border: 2px solid #4D4D4D;
  padding: 3px 2px;
}
table tbody td {
  font-size: 13px;
  color: #EBEBEB;
}
table tbody tr:nth-of-type(2n) {
  background: #353535!important;
}
table tbody tr:nth-of-type(1n) {
  background: #848484;
}
table thead {
  background: #FEBD10;
  border-bottom: 2px solid #444444;
}
table thead th {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  border-left: 2px solid #4D4D4D;
}
table a, a:hover, a:visited {
    color: black;   
}
